.NavBarMenu {
  width: 85%;
  border-radius: 6px;
  border: 1px solid #f0f0f0;
}

.SettingsForm {
  width: 60%;
}

.UserInfoHeader {
  padding: 16px 24px 16px 0 !important;
  margin-bottom: 0 !important;
}

.SettingsTitle {
  border-bottom: #eaecef 1px solid;
}

@media only screen and (max-width: 767px) {
  .NavBarMenu {
    width: 100%;
  }

  .SettingsForm {
    width: 78%;
  }
}
