.NavBarMenu {
  width: 190px;
  border-radius: 6px;
  border: 1px solid #f0f0f0;
}

.SettingsForm {
  width: 60%
}

.SettingsUserInfoHeader {
  padding: 16px 24px 16px 0;
}

.SettingsHeader {
  border-bottom: #eaecef 1px solid;
}

@media only screen and (max-width: 767px) {
  .NavBarMenu {
    width: 100%;
  }

  .SettingsForm {
    width: 78%
  }
}


