.SettingsForm {
  width: 60%
}

.UserInfoHeader {
  padding: 16px 24px 16px 0 !important;
  margin-bottom: 0 !important;
}

.SettingsTitle {
  border-bottom: #eaecef 1px solid;
}

@media only screen and (max-width: 767px) {
  .SettingsForm {
    width: 78%
  }
}


