.menu {
  border: none;
  height: 100%;
}

.headerItem {
  font-size: 14px;
}

.headerFloatRightItem {
  float: right;
}

.headerUserSubMenu {
  border-radius: 6px;
  padding-right: 4px;
}

.headerUserSubMenuItem {
  padding: 4px 40px 4px 16px;
}


.gravatar {
  border-radius: 10px;
}
