.row-dragging {
	background: #fafafa;
	border: 1px solid #ccc;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 12px;
}

.row-dragging .drag-visible {
	visibility: visible;
}
