.createDomain {
  margin: 60px auto auto auto;
}

.createTitle {
  margin: auto;
  text-align: center;
}

.submitButtonCreate {
  width: 100% !important;
  height: 50px;
  margin-top: 20px;
}

.domainsTitle {
  padding: 0 0 8px 0 !important;
  margin-bottom: 15px !important;
}

.domainListItem {
  padding: 16px 8px 16px 16px !important;
}

