#CreateDomain {
  max-width: 768px;
  margin: 60px auto auto auto;
}

#CreateForm {
  max-width: 544px;
  margin: 0 auto;
}

#SubmitButton {
  width: 100% !important;
  height: 50px;
  margin-top: 20px;
}
