/* ant design modification */
.ant-btn {
  border-radius: 6px;
}

.ant-select > div {
  border-radius: 6px !important;
}

.ant-input {
  border-radius: 6px;
}

.ant-list {
  border-radius: 6px;
}

.ant-space {
  width: 100%
}

.ant-layout-header {
  border-bottom: 1px solid #f0f0f0;
  background: inherit;
}

.ant-layout-footer {
  background: inherit;
  border-top: 1px solid #f0f0f0;
}

.ant-layout{
  min-height: 100vh;
  background: #ffffff;
}




