/* ant design modification */
.ant-btn {
  border-radius: 6px;
}

.ant-select > div {
  border-radius: 6px !important;
}

.ant-input {
  border-radius: 6px;
}

.ant-list {
  border-radius: 6px;
}

.ant-space {
  width: 100%
}

.ant-typography {
  margin: auto;
  text-align: center;
}

.ant-list-item {
  padding: 16px 8px 16px 16px !important;
}

.ant-page-header {
  padding: 0 0 8px 0;
  margin-bottom: 15px;
}

@media only screen and (max-width: 767px) {
  .ant-page-header {
    padding-top: 30px;
  }
}
