/* ant design modification */
.ant-btn {
  border-radius: 6px;
}

.ant-select > div {
  border-radius: 6px !important;
}

.ant-input {
  border-radius: 6px;
}

.ant-list {
  border-radius: 6px;
}

.ant-space {
  width: 100%
}

.bodyWrapper {
  max-width: 1012px;
}

.pageLayout {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.pageContent {
  flex: 1;
}

