.homeHeader {
  margin: auto;
  max-width: 1012px;
}

.homeTitle {
  line-height: 100px !important;
}

.homeNav {
  max-width: 1012px;
  margin: auto;
  border: none;
}

.settingsTitle {
  border-bottom: #eaecef 1px solid;
  padding: 0 0 8px 0 !important;
  margin-bottom: 15px !important;
}

