#HomeHeader {
  margin: auto;
  max-width: 1012px;
}

#HomeTitle {
  line-height: 100px;
}

#HomeNav {
  max-width: 1012px;
  margin: auto;
  border: none;
}

@media screen and (min-width: 544px) {
  #HomeHeader {
    padding-left: 40px !important;
    padding-right: 40px !important;
  }

  #HomeNav {
    padding-left: 40px !important;
    padding-right: 40px !important;
  }
}

@media screen and (min-width: 1012px) {
  #HomeHeader {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }

  #HomeNav {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }
}

