@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
}

/* Compatible with IE11 */
@media screen and(-ms-high-contrast: active), (-ms-high-contrast: none) {
  body .ant-design-pro > .ant-layout {
    min-height: 100vh;
  }
}

/**  Restore some styles normalized by Tailwind  **/
a {
  color: @primary-color;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: inline;
}
/**  Restore some styles normalized by Tailwind  **/

.settings-side-bar {
  .ant-menu-inline {
    .ant-menu-item,
    .ant-menu-item:not(:last-child),
    .ant-menu-submenu-title {
      margin: 0px;
    }
  }
}
