.pageLayout {
  min-height: 100vh;
  background: #ffffff;
}

.pageHeader {
  background: inherit;
  box-shadow: 0 2px 8px #dfdfdf;
  z-index: 10;
}

.pageBody {
  background-color: #f7f7f7;
}

.pageContent {
  padding-top: 24px;
}

.pageFooter {
  background-color: #f7f7f7;
}
