.pageLayout {
  min-height: 100vh;
  background: #ffffff;
}

.pageHeader {
  border-bottom: 1px solid #f0f0f0;
  background: inherit;
}

.pageContent {
}

.pageFooter {
  background: inherit;
  border-top: 1px solid #f0f0f0;
}
