.pageLayout {
  min-height: 100vh;
  background: #ffffff;
}

.pageHeader {
  background: inherit;
  box-shadow: 0 2px 8px #dfdfdf;
  z-index: 5;
}

.domainLayoutHeader {
  background: inherit;
  z-index: 5;
}

@media (max-width: 768px) {
  .pageHeader,
  .domainLayoutHeader {
    padding: 0 16px;
  }
}

.pageBody {
  background-color: #f7f7f7;
}

.pageContentNoHeader {
  padding-top: 24px;
}

.pageContentWithHeader {
  padding-top: 8px;
}

.pageFooter {
  background-color: #f7f7f7;
}
