#CreateDomain {
  max-width: 768px;
  margin: 60px auto auto auto;
}

#CreateTitle {
  margin: auto;
  text-align: center;
}

#CreateForm {
  max-width: 544px;
  margin: 0 auto;
}

#UpdateForm {
  width: 60%;
}

#SubmitButton {
  width: 100% !important;
  height: 50px;
  margin-top: 20px;
}

.DomainsTitle {
  padding: 0 0 8px 0 !important;
  margin-bottom: 15px !important;
}

.DomainListItem {
  padding: 16px 8px 16px 16px !important;
}

@media only screen and (max-width: 767px) {
  #UpdateForm {
    width: 78%
  }
}
