name: CI/CD

on: [ push, pull_request ]

jobs:
  lint:
    runs-on: ubuntu-20.04
    steps:
      - name: Lint with xo.js
        uses: stoe/xo-action@v1.0.1
  build:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Use Node.js 14
        uses: actions/setup-node@v2
        with:
          node-version: '14'
          cache: yarn
      - run: yarn install
      - name: Pull & update submodules recursively
        run: |
          git submodule update --init --recursive
          git submodule update --recursive --remote
      - run: yarn build
      - name: Prepare build file for later job
        uses: actions/upload-artifact@master
        with:
          name: dist
          path: dist
  remote-ssh-command:
    if: github.event_name == 'push' && (github.ref == 'refs/heads/master')
    needs: build
    runs-on: ubuntu-20.04
    steps:
      - name: Gather build file from previous job
        uses: actions/download-artifact@master
        with:
          name: dist
          path: dist
      - name: Copy file via ssh key
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          port: ${{ secrets.PORT }}
          source: "dist"
          target: "/tmp"
      - name: Execute remote ssh commands via ssh key
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          port: ${{ secrets.PORT }}
          script: |
            rm -rf ${{ secrets.BUILD_TARGET }}-bak
            mv ${{ secrets.BUILD_TARGET }} ${{ secrets.BUILD_TARGET }}-bak; true
            mv /tmp/dist ${{ secrets.BUILD_TARGET }}
