name: Deploy to server

on:
  push:
    branches:
      - 'main'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2.2.1
        with:
          version: latest
      - name: Use Node.js 16
        uses: actions/setup-node@v3
        with:
          node-version: '16'
          cache: pnpm
      - run: pnpm install
      - name: Pull & update submodules recursively
        run: |
          git submodule update --init --recursive
          git submodule update --recursive --remote
      - run: pnpm gen:api
      - run: pnpm build
      - name: Prepare build file for later job
        uses: actions/upload-artifact@master
        with:
          name: dist
          path: dist
  remote-ssh-command:
    needs: build
    runs-on: ubuntu-20.04
    steps:
      - name: Gather build file from previous job
        uses: actions/download-artifact@master
        with:
          name: dist
          path: dist
      - name: Copy file via ssh key
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          port: ${{ secrets.PORT }}
          source: 'dist'
          target: '/tmp'
      - name: Execute remote ssh commands via ssh key
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          port: ${{ secrets.PORT }}
          script: |
            rm -rf ${{ secrets.BUILD_TARGET }}-bak
            mv ${{ secrets.BUILD_TARGET }} ${{ secrets.BUILD_TARGET }}-bak; true
            mv /tmp/dist ${{ secrets.BUILD_TARGET }}
